# Glob API URL

# laf application base url eg. https://${applicationName}.laf.run 
VITE_APP_LAF_BASE_URL=

# Whether long replies are supported, which may result in higher API fees
VITE_GLOB_OPEN_LONG_REPLY=false

# When you want to use PWA
VITE_GLOB_APP_PWA=false
